/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
  .navigation {
    display: flex;
    box-shadow: black 5px 5px 5px;
  }
  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
    font-size: 1.5rem;
  }
  .navigation li:first-child {
    display: none;
  }

  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
    font-family: var(--head1);
    color: aliceblue;
  }
  .custom,
  .hero,
  .services,
  .products,
  .productGallery,
  .customOrder,
  .customOrderForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: rgb(30, 30, 99);
    border-color: black;
    margin: 20px;
    box-shadow: black 5px 5px 5px;
  }
  .linksIndex {
    text-decoration: none;
    color: rgb(189, 232, 242);
    font-weight: bold;
    font-family: var(--para3);
  }
  p {
    font-size: 1.25rem;
    color: rgb(244, 248, 249);
    font-family: var(--para3);
  }
  .orderForm {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 20px;
  }
  .yourInfo {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 20px;
    color: aliceblue;
    font-family: var(--para3);
  }
  .yourInfo label {
    padding: 5px;
  }
  .orderType {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 20px;
    color: aliceblue;
    font-family: var(--para3);
  }
  .orderType label {
    padding: 5px;
    margin: 10px;
  }
  .addInfo {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 20px;
    color: aliceblue;
    font-family: var(--para3);
  }
  legend {
    font-size: 1.5rem;
    color: aliceblue;
    font-family: var(--para3);
    padding: 5px;
  }
}
