:root {
  --para: "Bodoni Moda", serif;
  --head2: "Lobster", cursive;
  --head1: "Playball", cursive;
  --para2: "Rufina", serif;
  --para3: "coranto-2", serif;
  --head3: "adorn-garland", sans-serif;
  --head4: "aviano", serif;
  --head5: "desire-pro", serif;
}

body {
  background-color: rgb(24, 22, 65);
  padding: 1.25em; /* 20 */
}

/* Small/Phone View ***************/
nav {
  margin: 0 auto;
  max-width: 760px;
  background-color: grey;
}
.navigation {
  list-style: none;
  padding: 0;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  text-shadow: 1px 1px 2px black; /* offset-x | offset-y | blur-radius | color */
  color: white;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
  font-family: var(--head5);
}

.navigation a.ham::before {
  content: "";
}

.navigation a:hover {
  color: white;
  background-color: rgb(3, 3, 46);
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
  display: block;
}

.responsive a.ham::before {
  content: "❌ ";
}
h1 {
  font-family: var(--head3);
  font-size: clamp(1.75rem, 2vmin, 2.5rem);
  color: white;
  text-align: center;
  margin: 0;
  padding: 20px;
  text-shadow: 1px 1px 2px rgb(66, 64, 64);
}
h2 {
  font-family: var(--head1);
  font-size: clamp(1.5rem, 2vmin, 2rem);
  color: white;
  text-align: center;
  margin: 0;
  padding: 20px;
  text-shadow: 1px 1px 2px rgb(66, 64, 64);
}
p {
  font-family: var(--para);
  font-size: clamp(1rem, 2vmin, 1.75rem);
  color: white;
  text-align: center;
  margin: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
